.Card {
  flex: 1;
  display: flex;
  /* min-height: 168px; */
  justify-items: center;
  align-items: center;
  /* padding: 2%; */
  padding-bottom: calc(30px + 0.390625vw);;
  /* min-width: 584px; */
  width: calc(300px + 50.390625vw);;
}

.Image{
  display: flex;
  flex: 1;
  justify-content: right;
  /* background-color: #918E9B; */
  margin-right: 5px;
  
}

.Image img{
  aspect-ratio: 125/168;
  /* min-height: 150px; */
  /* min-width: 130px; */
  border-radius: 5px;
  width: 55%;
  max-width: 130px;
}

.Content {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* padding-top: 15px; */
  /* margin-left: 30px; */
  height: 100%;
  /* justify-content: center; */
}
.desc, .date{
  margin-left: 10px;
  margin-bottom: 5px;
  
}

.Heading{
  display: flex;
  justify-content: left;
  width: 100%;
  height: 10%;
  /* padding: 10px; */
  /* background-color: #918E9B; */

}

.location{
  text-align: center;
  margin: 0;
  margin-left: 3px;
  font-weight: 400;
  font-size: calc(10px + 0.390625vw);
  letter-spacing: 0.15rem;
  /* max-width: 10px; */
}
.Heading img{
  max-width: 15px;
  max-height: 15px;
}

a{
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: calc(6.24px + 0.390625vw);
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
  letter-spacing: normal;
  word-spacing: normal;
}

h1{
  margin: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: calc(20px + 0.390625vw);

}

small{
  width: 50%;
  height: 75px;
  letter-spacing: 0.1px;
  font-weight: 400;
  font-size: calc(7px + 0.190625vw);
line-height: 150%;
}
/* 
.Card:nth-child(3){

  padding-bottom: 0;
} */