/* .App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
 } */

/* .placeholder{
  display: flex;
  flex-basis: 500px;
  flex-grow: 2;
  background-color: #282c34;
} */

/* 
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */